.parrafoblog{
    
    border: 15px;
    padding-inline: 20px;
}
.audios{
    padding: 15px;
    border: 2px;
    vertical-align: middle;
    overflow: hidden;
    margin: 20px;
}
.imgaudios{
    transition: 0,5s;
    object-fit: cover;
}
img:hover{
    transform: scale(1.2);
}

